.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  display: block;
  color: white;
  height: 40px;
  text-align: center;
  font-weight: bold;
  margin: 16px;
}